* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* USAR SEMPRE NO INICIO DA APLICAÇÃO, PARA 
    (RESETAR ESTILOS DO NAVEGADOR) */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.logo-mario {
    height: 200px;
}

p {
    color: white;
    font-size: 18px;
    text-align: justify;
}


button {
    background-color: #C51111;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    width: 220px;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
}

.mario-luigi {
    height: 500px;
}

body {
    font-family: "Montserrat", sans-serif;
    height: 80vh;
    
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px; 
    height: 100vh;
}

.caixa-principal {
    width: 40%;

}

.caixa-video {
    z-index: -1;
}

.background-video {
    position: fixed;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    
}

.mascara {
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
    z-index: -1;
}

.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 30px;
    bottom: 20px;
}       

.header {
    display: flex;
    align-items:center ;
    gap: 20px;
    margin: 30px;
}

.header img {
    height: 60px;
}

.header a {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.header a:hover {
    color: #C51111;
    font-size: 22px;
    transition: 0.6s ease-in-out;
}

.caixa-principal button:hover {
    width: 222px;
    height: 42px;
    background-color: black;
    color: white;
    transition: 1s ease-in-out;
}

.formulario {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40%;
    left: -309px;
    padding: 20px;
    border-radius: 6px;
    gap: 20px;
    transition: left 0.6s ease-in-out;
}

input {
    height: 38px;
    border-radius: 6px;
    border: 1px solid gray;
    padding-left: 4px;
}

textarea {
    height: 100px;
    width: 270px;
    border-radius: 6px;
    border: 1px solid gray;
    padding-left: 4px;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(22,22,22,0.8267682072829132) 50%, rgba(0,0,0,1) 100%);
    transition: visibility 0.6s ease-in-out;
}



@media screen and (max-width:950px) {

    .header {
        margin: 26px 34px 6px 60px;
        padding: 5px;
    }
    .header img {
        display: none;
    }
    
    .header a {
        font-size: 16px;
    }

    .header a:hover {
        color: #C51111;
        font-size: 16px;
        transition: 0.6s ease-in-out;
    }

    .link-whatsapp:hover {
        transition: 0.6s ease-in-out;
        opacity: 0.6;
    }
    
    .mario-luigi{
        height: 300px;
    }

    p {
        display: none;
    }
    .caixa-mae {
        flex-direction: column;
        padding: 10px;
    }

    .caixa-principal {
        width: 40%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}
    


